@model TodoListMVC.Models.ViewModels.TodoListItemsViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

@* for each to do item: *@

<section class="todolist_add-item">
    <div class="todolist__form-label-group">
        <input data-field-action="add-new-todo" class="todolist_field" type="text" placeholder=" ">
        <label class="todolist_label">Add new item</label>
    </div>
</section>
<section class="todolist-items">
    @foreach (var todo in Model.Todos)
    {
        <div data-todo-id="@todo.ItemId" class="todolist-item">
            <details>
                <summary>
                    <div class="todolist-item__info">
                        <h2 class="todolist-item__title m-0 @(todo.IsComplete ? "text-decoration--line-through" : "")">@todo.ItemName</h2>
                    </div>
                </summary>
                <div class="todolist-item__subtasks">
                    @foreach (var subtask in todo.Subtasks)
                    {
                        string subtaskId = subtask.SubTaskId;
                        <div data-subtask-id="@subtaskId" class="todolist-item__subtask">
                            <input data-field-action="add-new-subtask" id="subtask-@subtaskId" type="checkbox" class="todolist-item__checkbox m-0" @(subtask.IsSubTaskComplete ? "checked" : "")/>
                            <label for="subtask-@subtaskId" class="todolist-item__label m-0 cursor-pointer">@subtask.SubTaskName</label>
                        </div>
                    }
                    <div class="d-flex flex-row">
                        <div class="todolist__form-label-group mr-4">
                            <input class="todolist_field" type="text" placeholder=" ">
                            <label class="todolist_label">Add subtask</label>
                        </div>
                        <button class="todolist_add-button">Add</button>
                    </div>
                </div>
            </details>
        </div>
    }
</section>
<script>
    InitialiseTodolistPage();
</script>